* {
    margin: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.nav {
    width: 100%;
    height: 75px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Varela', sans-serif;

    .navLeft,
    .navRight {
        flex: 15%;
        display: flex;
        align-items: center;
        vertical-align: center;

        a {
            text-decoration: none;
            margin-left: 30px;
            margin-right: 10px;
        }

        .social-icon {
            font-size: 20px;
            color: #444;
            cursor: pointer;
        }

        .social-icon:hover {
            color: #f0b82a;
        }
    }

    .navCenter {
        flex: 100%;
        align-content: space-between;

        .navList {
            list-style: none;
            display: flex;
            justify-content: center;

            .navListItem {
                font-size: 20px;
                margin-left: 30px;
                cursor: pointer;
                color: #444;
            }

            .navListItem:hover {
                color: #f0b82a;
            }

            .meditation-page {
                text-decoration: none;
            }
        }
    }
}

.header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;

    .headerName {
        position: absolute;
        align-items: center;
        vertical-align: center;
        font-family: 'Lora', serif;
        font-size: 50px;
        color: #444;
    }

    .headerImg {
        width: 100%;
        margin-top: 35px;
        object-fit: cover;
    }
}

.home {
    display: flex;
}

.posts {
    flex: 70%;
}

.sideAbout {
    display: flex;
    flex-direction: column;
    flex: 30%;
    margin: 20px 5px 20px 10px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    align-content: center;
    font-family: 'Varela', sans-serif;
    padding: 5px;

    .sideAboutTitle {
        display: flex;
        margin-top: 5px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        justify-content: center;
    }

    .selfie {
        display: flex;
        width: 60%;
        margin-left: 100px;
    }

    .selfie:hover {
        transform: scale(0.5, 0.5)
    }

    .emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1.5em !important;
        width: 2em !important;
        margin: 0 0.07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
    }
}

.post {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 25px 50px 50px 50px;
    border: 0;
    border: none;
    border-bottom: 1px solid gainsboro;


    .postContent {
        display: flex;
        flex-direction: column;
        align-items: center;

        .postName {
            font-family: 'Varela', sans-serif;
        }

        .postAuthor {
            font-family: 'Amatic SC', cursive;
            font-size: 25px;
        }

    }

    .postInfo {
        font-family: 'Varela', sans-serif;
        color: #444;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    .postImg {
        width: 30%;
        object-fit: cover;
        border-radius: 5px;
        align-items: center;
        margin-right: 20px;
    }

}

.single {
    display: flex;
}

.singlePost {
    flex: 80%;

    .singlePostContainer {
        padding: 20px;
    }

    .singlePostImg {
        width: 100%;
        border-radius: 20px;
    }

    .singlePostTitle {
        text-align: center;
        font-family: 'Varela', sans-serif;
        margin: 10px;
        font-size: 35px;
    }

    .singlePostEdit {
        float: right;
        font-size: 20px;

        .singlePostIcon {
            margin-right: 10px;
            cursor: pointer;
        }
    }

    .edit {
        color: green;
    }

    .delete {
        color: orangered;
    }

    .singlePostInfo {
        margin-bottom: 20px;
    }

    .singlePostAuthor {
        color: #583769
    }

    .singlePostContent {
        font-family: 'Varela', sans-serif;
        font-size: 18px;
        line-height: 25px;
        color: #444
    }

    .singlePostContent::first-letter {
        margin-left: 20px;
        font-size: 35px;
        font-weight: 500;
    }
}

.write {
    padding-top: 60px;

    .writeForm {
        margin-left: 200px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .writeAdd {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 50px;
        color: #444;
        cursor: pointer;
    }

    .writeInput {
        font-size: 35px;
        border: none;
        width: 75%;

    }

    .title {
        width: 75%;
    }

    .content {}

    .writeInput:focus {
        outline: none;
    }

    .submit {
        size-adjust: 100%;
        font-size: 16px;
        position: absolute;
        top: 100px;
        right: 40px;
        color: white;
        background-color: green;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

}